In [65]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor

In [66]:
df = pd.read_csv('/content/Modified_df_GC.csv')
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'DOC_ID', 'LABEL', 'RATING',
       'VERIFIED_PURCHASE', 'PRODUCT_CATEGORY', 'PRODUCT_ID', 'PRODUCT_TITLE',
       'REVIEW_TITLE', 'REVIEW_TEXT', 'DEGREE_0.25', 'DEGREE_0.50',
       'DEGREE_0.75'],
      dtype='object')

In [67]:
df.drop(['Unnamed: 0', 'Unnamed: 0.1','PRODUCT_ID','DOC_ID','REVIEW_TITLE','PRODUCT_TITLE'],axis=1,inplace = True)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   LABEL              700 non-null    object
 1   RATING             700 non-null    int64
 2   VERIFIED_PURCHASE  700 non-null    object
 3   PRODUCT_CATEGORY   700 non-null    object
 4   REVIEW_TEXT        700 non-null    object
 5   DEGREE_0.25        700 non-null    int64
 6   DEGREE_0.50        700 non-null    int64
 7   DEGREE_0.75        682 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 43.9+ KB

In [69]:
obj_cols = [col for col in df.columns if df[col].dtype=='object']

In [70]:
obj_cols

['LABEL', 'VERIFIED_PURCHASE', 'PRODUCT_CATEGORY', 'REVIEW_TEXT']

In [71]:
df

,LABEL,RATING,VERIFIED_PURCHASE,PRODUCT_CATEGORY,REVIEW_TEXT,DEGREE_0.25,DEGREE_0.50,DEGREE_0.75
0,__label1__,1,N,Grocery,I'm not really sold on the flavor and texture ...,681,493,13.0
1,__label1__,4,N,Grocery,I have been taking honey from when i was a chi...,678,542,37.0
2,__label1__,4,N,Grocery,These are the lowest calorie bar with the high...,682,640,101.0
3,__label1__,4,N,Grocery,"Ok, no one tell my son this....but, I actually...",682,611,68.0
4,__label1__,4,N,Grocery,Ahhh!! Im so happy to have found just blue jol...,682,542,1.0
...,...,...,...,...,...,...,...,...
695,__label2__,5,Y,Grocery,this stuff is amazing! I was worried that it w...,682,656,101.0
696,__label2__,5,Y,Grocery,I've tried many of the different coffees that ...,676,525,15.0
697,__label2__,5,Y,Grocery,It appears well made. I did need to leave them...,677,325,1.0
698,__label2__,5,Y,Grocery,I enjoyed this snack. I wish it had been a lit...,679,574,38.0
699,__label2__,5,N,Grocery,These English Muffins are hard to find in stor...,682,661,268.0

In [72]:
for col in obj_cols:
  le = LabelEncoder()
  le.fit(df[col])
  df[col] = le.transform(df[col])

In [73]:
df.dropna(inplace=True)

In [74]:
X = df.drop('LABEL',axis=1)
Y = df['LABEL']

In [75]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=20)

In [76]:
regression_model = LogisticRegression()
regression_model.fit(X_train,Y_train)
regression_model.score(X_test, Y_test)

0.8394160583941606

In [77]:
forest_model = RandomForestRegressor()
forest_model.fit(X_train, Y_train)
forest_model.score(X_train, Y_train)

0.8975595869928337

In [78]:
from xgboost import XGBClassifier

xgbcl = XGBClassifier()
xgbcl.fit(X_train, Y_train)
xgbcl.score(X_train, Y_train)

0.8605504587155963