In [55]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor

In [56]:
df = pd.read_csv('/content/RGrocery_df.csv')
df.columns

Index(['Unnamed: 0', 'DOC_ID', 'LABEL', 'RATING', 'VERIFIED_PURCHASE',
       'PRODUCT_CATEGORY', 'PRODUCT_ID', 'PRODUCT_TITLE', 'REVIEW_TITLE',
       'REVIEW_TEXT'],
      dtype='object')

In [57]:
df.drop(['Unnamed: 0','PRODUCT_ID','DOC_ID','REVIEW_TITLE','PRODUCT_TITLE'],axis=1,inplace = True)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   LABEL              700 non-null    object
 1   RATING             700 non-null    int64
 2   VERIFIED_PURCHASE  700 non-null    object
 3   PRODUCT_CATEGORY   700 non-null    object
 4   REVIEW_TEXT        700 non-null    object
dtypes: int64(1), object(4)
memory usage: 27.5+ KB

In [59]:
obj_cols = [col for col in df.columns if df[col].dtype=='object']

In [60]:
obj_cols

['LABEL', 'VERIFIED_PURCHASE', 'PRODUCT_CATEGORY', 'REVIEW_TEXT']

In [61]:
df

,LABEL,RATING,VERIFIED_PURCHASE,PRODUCT_CATEGORY,REVIEW_TEXT
0,__label1__,1,N,Grocery,I'm not really sold on the flavor and texture ...
1,__label1__,4,N,Grocery,I have been taking honey from when i was a chi...
2,__label1__,4,N,Grocery,These are the lowest calorie bar with the high...
3,__label1__,4,N,Grocery,"Ok, no one tell my son this....but, I actually..."
4,__label1__,4,N,Grocery,Ahhh!! Im so happy to have found just blue jol...
...,...,...,...,...,...
695,__label2__,5,Y,Grocery,this stuff is amazing! I was worried that it w...
696,__label2__,5,Y,Grocery,I've tried many of the different coffees that ...
697,__label2__,5,Y,Grocery,It appears well made. I did need to leave them...
698,__label2__,5,Y,Grocery,I enjoyed this snack. I wish it had been a lit...
699,__label2__,5,N,Grocery,These English Muffins are hard to find in stor...

In [62]:
for col in obj_cols:
  le = LabelEncoder()
  le.fit(df[col])
  df[col] = le.transform(df[col])

In [63]:
df.dropna(inplace=True)

In [64]:
X = df.drop('LABEL',axis=1)
Y = df['LABEL']

In [65]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=20)

In [66]:
regression_model = LogisticRegression()
regression_model.fit(X_train,Y_train)
regression_model.score(X_test, Y_test)

0.7642857142857142

In [67]:
forest_model = RandomForestRegressor()
forest_model.fit(X_train, Y_train)
forest_model.score(X_train, Y_train)

0.8924773712944538

In [68]:
from xgboost import XGBClassifier

xgbcl = XGBClassifier()
xgbcl.fit(X_train, Y_train)
xgbcl.score(X_train, Y_train)

0.825